/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828;
    background-alt: #3c3836;
    foreground:     #ebdbb2;
    selected:       #3c3836;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
